body{
    background-color: rgb(167, 167, 167);
    text-decoration-color: rgb(38, 252, 48);
    border-color: rgb(80, 61, 255);

}
.cardp{
    color: yellowgreen;
    background-color: blue;
    
}